# {{ ansible_managed }}

---
foreman:
  foreman_url: https://{{ inventory_hostname }}
  unattended: true
  unattended_url: 
  apache: true
  servername: {{ inventory_hostname }}
  serveraliases:
  - foreman
  ssl: true
  version: present
  plugin_version: present
  db_manage: true
  db_host: 
  db_port: 
  db_database: 
  db_username: foreman
  db_password: uVijo5sMw55zkGhLBMYYDB2RcGt64f2C
  db_sslmode: 
  db_root_cert: 
  db_pool: 5
  db_manage_rake: true
  server_port: 80
  server_ssl_port: 443
  server_ssl_ca: "/etc/puppetlabs/puppet/ssl/certs/ca.pem"
  server_ssl_chain: "/etc/puppetlabs/puppet/ssl/certs/ca.pem"
  server_ssl_cert: "/etc/puppetlabs/puppet/ssl/certs/{{ inventory_hostname }}.pem"
  server_ssl_certs_dir: ''
  server_ssl_key: "/etc/puppetlabs/puppet/ssl/private_keys/{{ inventory_hostname }}.pem"
  server_ssl_crl: "/etc/puppetlabs/puppet/ssl/crl.pem"
  server_ssl_protocol: 
  server_ssl_verify_client: optional
  client_ssl_ca: "/etc/puppetlabs/puppet/ssl/certs/ca.pem"
  client_ssl_cert: "/etc/puppetlabs/puppet/ssl/certs/{{ inventory_hostname }}.pem"
  client_ssl_key: "/etc/puppetlabs/puppet/ssl/private_keys/{{ inventory_hostname }}.pem"
  oauth_active: true
  oauth_map_users: false
  oauth_consumer_key: iKvPNTDDhUMP9HqvKfwRchRP9WdNTiBs
  oauth_consumer_secret: viiCPixQjFU5CVCroUVxKie7gNuXvamg
  initial_admin_username: admin
  initial_admin_password: cFh53EXNACwdmnaB
  initial_admin_first_name: {{ admin_first_name | default(omit) }}
  initial_admin_last_name: {{ admin_last_name | default(omit) }}
  initial_admin_email: {{ admin_email | default(omit) }}
  initial_admin_locale: {{ admin_locale | default(omit) }}
  initial_admin_timezone: {{ admin_timezone | default(omit) }}
  initial_organization: {{ admin_organization | default(omit) }}
  initial_location: {{ admin_location | default(omit) }}
  ipa_authentication: false
  http_keytab: 
  pam_service: foreman
  ipa_manage_sssd: true
  websockets_encrypt: true
  websockets_ssl_key: 
  websockets_ssl_cert: 
  logging_level: info
  logging_type: file
  logging_layout: multiline_request_pattern
  loggers: {}
  email_delivery_method: 
  email_sendmail_location: 
  email_sendmail_arguments: 
  email_smtp_address: 
  email_smtp_port: 25
  email_smtp_domain: 
  email_smtp_authentication: none
  email_smtp_user_name: 
  email_smtp_password: 
  email_reply_address: 
  email_subject_prefix: 
  telemetry_prefix: fm_rails
  telemetry_prometheus_enabled: false
  telemetry_statsd_enabled: false
  telemetry_statsd_host: 127.0.0.1:8125
  telemetry_statsd_protocol: statsd
  telemetry_logger_enabled: false
  telemetry_logger_level: DEBUG
  dynflow_manage_services: true
  dynflow_orchestrator_ensure: present
  dynflow_worker_instances: 1
  dynflow_worker_concurrency: 5
  dynflow_redis_url: 
  hsts_enabled: true
  cors_domains: []
  foreman_service_puma_threads_min: 
  foreman_service_puma_threads_max: 5
  foreman_service_puma_workers: 
  rails_cache_store:
    type: file
  keycloak: false
  keycloak_app_name: foreman-openidc
  keycloak_realm: ssl-realm
foreman::cli:
  foreman_url: 
  version: installed
  manage_root_config: true
  username: 
  password: 
  use_sessions: false
  refresh_cache: false
  request_timeout: 120
  ssl_ca_file: 
foreman::cli::ansible: false
foreman::cli::azure: false
foreman::cli::discovery: false
foreman::cli::kubevirt: false
foreman::cli::openscap: false
foreman::cli::puppet: {}
foreman::cli::remote_execution: false
foreman::cli::tasks: false
foreman::cli::templates: false
foreman::cli::webhooks: false
foreman_proxy:
  version: present
  ensure_packages_version: present
  bind_host:
  - "*"
  http_port: {{ foreman_proxy_http_port | default(8000) }}
  ssl_port: {{ foreman_proxy_https_port | default(8443) }}
  groups: []
  log: "/var/log/foreman-proxy/proxy.log"
  log_level: INFO
  log_buffer: 2000
  log_buffer_errors: 1000
  http: false
  ssl: true
  ssl_ca: "/etc/puppetlabs/puppet/ssl/certs/ca.pem"
  ssl_cert: "/etc/puppetlabs/puppet/ssl/certs/{{ inventory_hostname }}.pem"
  ssl_key: "/etc/puppetlabs/puppet/ssl/private_keys/{{ inventory_hostname }}.pem"
  foreman_ssl_ca: 
  foreman_ssl_cert: 
  foreman_ssl_key: 
  trusted_hosts:
  - {{ inventory_hostname }}
  ssl_disabled_ciphers: []
  tls_disabled_versions: []
  manage_sudoersd: true
  use_sudoersd: true
  use_sudoers: true
  puppetca: true
  puppetca_listen_on: https
  ssldir: "/etc/puppetlabs/puppet/ssl"
  puppetdir: "/etc/puppetlabs/puppet"
  puppetca_cmd: "/opt/puppetlabs/bin/puppet cert"
  puppet_group: puppet
  puppetca_provider: puppetca_hostname_whitelisting
  autosignfile: "/etc/puppetlabs/puppet/autosign.conf"
  puppetca_sign_all: false
  puppetca_tokens_file: "/var/lib/foreman-proxy/tokens.yml"
  puppetca_token_ttl: 360
  puppetca_certificate: 
  manage_puppet_group: true
  puppet: true
  puppet_listen_on: https
  puppet_url: https://{{ inventory_hostname }}:8140
  puppet_ssl_ca: "/etc/puppetlabs/puppet/ssl/certs/ca.pem"
  puppet_ssl_cert: "/etc/puppetlabs/puppet/ssl/certs/{{ inventory_hostname }}.pem"
  puppet_ssl_key: "/etc/puppetlabs/puppet/ssl/private_keys/{{ inventory_hostname }}.pem"
  puppet_api_timeout: 30
  templates: false
  templates_listen_on: https
  template_url: http://{{ inventory_hostname }}:8000
  registration: true
  registration_listen_on: https
  logs: true
  logs_listen_on: https
  httpboot: {{ enable_httpboot | default(false) }}
  httpboot_listen_on: both
  tftp: {{ enable_tftp | default(false) }}
  tftp_listen_on: https
  tftp_managed: true
  tftp_manage_wget: true
  tftp_syslinux_filenames:
  - "/usr/share/syslinux/chain.c32"
  - "/usr/share/syslinux/ldlinux.c32"
  - "/usr/share/syslinux/libcom32.c32"
  - "/usr/share/syslinux/libutil.c32"
  - "/usr/share/syslinux/mboot.c32"
  - "/usr/share/syslinux/menu.c32"
  - "/usr/share/syslinux/memdisk"
  - "/usr/share/syslinux/pxelinux.0"
  tftp_root: "/var/lib/tftpboot"
  tftp_dirs: 
  tftp_servername: 
  tftp_replace_grub2_cfg: false
  dhcp: false
  dhcp_listen_on: https
  dhcp_managed: true
  dhcp_provider: isc
  dhcp_subnets: []
  dhcp_ping_free_ip: true
  dhcp_option_domain:
  - {{ ansible_domain }}
  dhcp_search_domains: 
  dhcp_interface: enp1s0
  dhcp_additional_interfaces: []
  dhcp_gateway: 
  dhcp_range: 
  dhcp_pxeserver: 
  dhcp_pxefilename: pxelinux.0
  dhcp_network: 
  dhcp_netmask: 
  dhcp_nameservers: default
  dhcp_server: 127.0.0.1
  dhcp_config: "/etc/dhcp/dhcpd.conf"
  dhcp_leases: "/var/lib/dhcpd/dhcpd.leases"
  dhcp_key_name: 
  dhcp_key_secret: 
  dhcp_omapi_port: 7911
  dhcp_peer_address: 
  dhcp_node_type: standalone
  dhcp_failover_address: {{ ansible_default_ipv4.address }}
  dhcp_failover_port: 519
  dhcp_max_response_delay: 30
  dhcp_max_unacked_updates: 10
  dhcp_mclt: 300
  dhcp_load_split: 255
  dhcp_load_balance: 3
  dhcp_manage_acls: true
  dns: false
  dns_listen_on: https
  dns_managed: true
  dns_provider: nsupdate
  dns_interface: enp1s0
  dns_zone: {{ ansible_domain }}
  dns_reverse: 
  dns_server: 127.0.0.1
  dns_ttl: 86400
  dns_tsig_keytab: "/etc/foreman-proxy/dns.keytab"
  dns_tsig_principal: foremanproxy/{{ inventory_hostname }}@{{ ansible_domain | upper }}
  dns_forwarders: []
  libvirt_network: default
  libvirt_connection: qemu:///system
  bmc: false
  bmc_listen_on: https
  bmc_default_provider: ipmitool
  bmc_ssh_user: root
  bmc_ssh_key: "/usr/share/foreman/.ssh/id_rsa"
  bmc_ssh_powerstatus: 'true'
  bmc_ssh_powercycle: shutdown -r +1
  bmc_ssh_poweroff: shutdown +1
  bmc_ssh_poweron: 'false'
  realm: false
  realm_listen_on: https
  realm_provider: freeipa
  realm_keytab: "/etc/foreman-proxy/freeipa.keytab"
  realm_principal: realm-proxy@{{ ansible_domain | upper }}
  freeipa_config: "/etc/ipa/default.conf"
  freeipa_remove_dns: true
  keyfile: "/etc/rndc.key"
  register_in_foreman: true
  foreman_base_url: https://{{ inventory_hostname }}
  registered_name: {{ inventory_hostname }}
  registered_proxy_url: 
  oauth_effective_user: admin
  oauth_consumer_key: iKvPNTDDhUMP9HqvKfwRchRP9WdNTiBs
  oauth_consumer_secret: viiCPixQjFU5CVCroUVxKie7gNuXvamg
puppet:
  version: present
  user: puppet
  group: puppet
  dir: "/etc/puppetlabs/puppet"
  codedir: "/etc/puppetlabs/code"
  vardir: "/opt/puppetlabs/puppet/cache"
  logdir: "/var/log/puppetlabs/puppet"
  rundir: "/var/run/puppetlabs"
  ssldir: "/etc/puppetlabs/puppet/ssl"
  sharedir: "/opt/puppetlabs/puppet"
  manage_packages: true
  dir_owner: root
  dir_group: 
  package_provider: 
  package_install_options: 
  package_source: 
  port: 8140
  pluginsync: true
  splay: false
  splaylimit: 1800
  autosign: "/etc/puppetlabs/puppet/autosign.conf"
  autosign_entries: []
  autosign_mode: '0664'
  autosign_content: 
  autosign_source: 
  runinterval: 1800
  usecacheonfailure: true
  runmode: service
  run_hour: 
  run_minute: 
  unavailable_runmodes: []
  cron_cmd: 
  systemd_cmd: 
  systemd_randomizeddelaysec: 0
  agent_noop: false
  show_diff: false
  module_repository: 
  http_connect_timeout: 
  http_read_timeout: 
  ca_server: 
  ca_port: 
  ca_crl_filepath: 
  prerun_command: 
  postrun_command: 
  dns_alt_names: []
  use_srv_records: false
  srv_domain: {{ ansible_domain }}
  pluginsource: puppet:///plugins
  pluginfactsource: puppet:///pluginfacts
  additional_settings: {}
  agent_additional_settings: {}
  agent_restart_command: 
  classfile: "$statedir/classes.txt"
  hiera_config: "$confdir/hiera.yaml"
  auth_template: puppet/auth.conf.erb
  allow_any_crl_auth: false
  auth_allowed:
  - "$1"
  client_package:
  - puppet-agent
  agent: true
  remove_lock: true
  report: true
  client_certname: {{ inventory_hostname }}
  puppetmaster: 
  systemd_unit_name: puppet-run
  service_name: puppet
  syslogfacility: 
  environment: production
  server: true
  server_admin_api_whitelist:
  - localhost
  - {{ inventory_hostname }}
  server_manage_user: true
  server_user: puppet
  server_group: puppet
  server_dir: "/etc/puppetlabs/puppet"
  server_ip: 0.0.0.0
  server_port: 8140
  server_ca: true
  server_ca_crl_sync: false
  server_crl_enable: 
  server_ca_auth_required: true
  server_ca_client_self_delete: false
  server_ca_client_whitelist:
  - localhost
  - {{ inventory_hostname }}
  server_custom_trusted_oid_mapping: 
  server_http: false
  server_http_port: 8139
  server_reports: foreman
  server_puppetserver_dir: "/etc/puppetlabs/puppetserver"
  server_puppetserver_vardir: "/opt/puppetlabs/server/data/puppetserver"
  server_puppetserver_rundir: "/var/run/puppetlabs/puppetserver"
  server_puppetserver_logdir: "/var/log/puppetlabs/puppetserver"
  server_puppetserver_version: 
  server_external_nodes: "/etc/puppetlabs/puppet/node.rb"
  server_trusted_external_command: 
  server_cipher_suites:
  - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
  - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
  server_config_version: 
  server_connect_timeout: 120000
  server_git_repo: false
  server_default_manifest: false
  server_default_manifest_path: "/etc/puppet/manifests/default_manifest.pp"
  server_default_manifest_content: ''
  server_environments_owner: puppet
  server_environments_group: 
  server_environments_mode: '0755'
  server_envs_dir: "/etc/puppetlabs/code/environments"
  server_envs_target: 
  server_common_modules_path:
  - "/etc/puppetlabs/code/environments/common"
  - "/etc/puppetlabs/code/modules"
  - "/opt/puppetlabs/puppet/modules"
  - "/usr/share/puppet/modules"
  server_git_repo_mode: '0755'
  server_git_repo_path: "/opt/puppetlabs/puppet/cache/puppet.git"
  server_git_repo_group: puppet
  server_git_repo_user: puppet
  server_git_branch_map: {}
  server_idle_timeout: 1200000
  server_post_hook_content: puppet/server/post-receive.erb
  server_post_hook_name: post-receive
  server_storeconfigs: false
  server_ruby_load_paths:
  - "/opt/puppetlabs/puppet/lib/ruby/vendor_ruby"
  server_ssl_dir: "/etc/puppetlabs/puppet/ssl"
  server_ssl_dir_manage: true
  server_ssl_key_manage: true
  server_ssl_protocols:
  - TLSv1.2
  server_ssl_chain_filepath: 
  server_package: 
  server_version: 
  server_certname: {{ inventory_hostname }}
  server_request_timeout: 60
  server_strict_variables: false
  server_additional_settings: {}
  server_foreman: true
  server_foreman_url: https://{{ inventory_hostname }}
  server_foreman_ssl_ca: 
  server_foreman_ssl_cert: 
  server_foreman_ssl_key: 
  server_foreman_facts: true
  server_puppet_basedir: "/opt/puppetlabs/puppet/lib/ruby/vendor_ruby/puppet"
  server_parser: current
  server_environment_timeout: 
  server_jvm_java_bin: "/usr/bin/java"
  server_jvm_config: "/etc/sysconfig/puppetserver"
  server_jvm_min_heap_size: 2G
  server_jvm_max_heap_size: 2G
  server_jvm_extra_args:
  - "-Djruby.logger.class=com.puppetlabs.jruby_utils.jruby.Slf4jLogger"
  - "-XX:ReservedCodeCacheSize=512m"
  server_jvm_cli_args: 
  server_jruby_gem_home: "/opt/puppetlabs/server/data/puppetserver/jruby-gems"
  server_max_active_instances: 2
  server_max_requests_per_instance: 0
  server_max_queued_requests: 0
  server_max_retry_delay: 1800
  server_multithreaded: false
  server_use_legacy_auth_conf: false
  server_check_for_updates: true
  server_environment_class_cache_enabled: false
  server_allow_header_cert_info: false
  server_web_idle_timeout: 30000
  server_puppetserver_jruby9k: false
  server_puppetserver_metrics: false
  server_puppetserver_profiler: false
  server_metrics_jmx_enable: true
  server_metrics_graphite_enable: false
  server_metrics_graphite_host: 127.0.0.1
  server_metrics_graphite_port: 2003
  server_metrics_server_id: {{ inventory_hostname }}
  server_metrics_graphite_interval: 5
  server_metrics_allowed: 
  server_puppetserver_experimental: true
  server_puppetserver_auth_template: 
  server_puppetserver_trusted_agents: []
  server_puppetserver_trusted_certificate_extensions: []
  server_compile_mode: 
  server_acceptor_threads: 
  server_selector_threads: 
  server_ssl_acceptor_threads: 
  server_ssl_selector_threads: 
  server_max_threads: 
  server_ca_allow_sans: false
  server_ca_allow_auth_extensions: false
  server_ca_enable_infra_crl: false
  server_max_open_files: 
  server_versioned_code_id: 
  server_versioned_code_content: 
foreman::plugin::acd: false
foreman::plugin::ansible: {{ enable_ansible | default(false) }}
foreman::plugin::azure: false
foreman::plugin::bootdisk: false
foreman::plugin::chef: false
foreman::plugin::column_view: false
foreman::plugin::default_hostgroup: false
foreman::plugin::dhcp_browser: false
foreman::plugin::discovery: false
foreman::plugin::expire_hosts: false
foreman::plugin::hooks: false
foreman::plugin::host_extra_validator: false
foreman::plugin::kubevirt: false
foreman::plugin::leapp: false
foreman::plugin::memcache: false
foreman::plugin::monitoring: false
foreman::plugin::omaha: false
foreman::plugin::openscap: false
foreman::plugin::ovirt_provision: false
foreman::plugin::puppet: {}
foreman::plugin::puppetdb: false
foreman::plugin::remote_execution: {{ enable_remote_execution | default(false) }}
foreman::plugin::remote_execution::cockpit: false
foreman::plugin::salt: false
foreman::plugin::setup: false
foreman::plugin::snapshot_management: false
foreman::plugin::statistics: false
foreman::plugin::tasks: false
foreman::plugin::templates: false
foreman::plugin::webhooks: false
foreman::compute::ec2: false
foreman::compute::gce: false
foreman::compute::libvirt: false
foreman::compute::openstack: false
foreman::compute::ovirt: false
foreman::compute::vmware: false
foreman_proxy::plugin::acd: false
foreman_proxy::plugin::ansible: {{ enable_ansible | default(false) }}
foreman_proxy::plugin::chef: false
foreman_proxy::plugin::dhcp::infoblox: false
foreman_proxy::plugin::dhcp::remote_isc: false
foreman_proxy::plugin::discovery: false
foreman_proxy::plugin::dns::infoblox: false
foreman_proxy::plugin::dns::powerdns: false
foreman_proxy::plugin::dynflow: false
foreman_proxy::plugin::monitoring: false
foreman_proxy::plugin::omaha: false
foreman_proxy::plugin::openscap: false
foreman_proxy::plugin::remote_execution::ssh: {{ enable_remote_execution | default(false) }}
foreman_proxy::plugin::salt: false
foreman_proxy::plugin::shellhooks: false

